/* Reset base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e font */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #231b1b;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f4b400;
}

/* Sezione Hero */
.hero {
    background-color: #007BFF;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero .hero-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .cta-button {
    padding: 10px 20px;
    background-color: #f4b400;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .cta-button:hover {
    background-color: #333;
}

/* Sezione About */
.about {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
}


.rossor{
    background-color: #a31111;
}